@font-face {
  font-family: "iconfont"; /* Project id 4431359 */
  src: url('iconfont.eot?t=1706922010123'); /* IE9 */
  src: url('iconfont.eot?t=1706922010123#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1706922010123') format('woff2'),
       url('iconfont.woff?t=1706922010123') format('woff'),
       url('iconfont.ttf?t=1706922010123') format('truetype'),
       url('iconfont.svg?t=1706922010123#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e66c";
}

.icon-shejiaotubiao-39:before {
  content: "\e646";
}

